<h1><%= (Date.today - 1.month).strftime("%B") %> Results</h1>

<div class="winners">

  <% @winners.each do |winner| %>
    <div class="winner">
      <h3><%= winner[:user].full_name.titleize %></h3>
        <%#= winner[:vote_count] %>
      <ul>
        <% winner[:comments].each do |comment| %>
          <% if comment.present? %>
            <li><%= comment %></li>
          <% end %>
        <% end %>

      </ul>
    </div>
  <% end %>
</div>
