// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after {
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-image: url('/assets/background/bg.jpg');
}
h1 {
	font-family: 'Oswald';
	font-size: 28px;
	color: #fff;
	text-transform: uppercase;
	max-width: 600px;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 1.4;
}
.form {
	width: 100%;
	article {
		padding: 80px;
		background: rgba(0, 0, 0, .85);
		width: 33.33%;
		float: right;
	}
}
.logo {
	width: 45px;
}
input, label, select {
	display: block;
	color: #333;
}