<h1>Dashboard</h1>

<!-- select election months/years, submit via ajax -->

<!-- display all votes for the election and comments -->
  <!-- order by selected vote ie all votes for caleb, then all votes for jacob -->