<h1><%= Date.today.strftime("%B") %> Results</h1>

<div class="winners">

  <% @winners.each do |winner| %>
    <div class="winner">
      <h3><%= winner[:user].full_name.titleize %></h3>
        <%#= winner[:votes] %>
      <ul>
        <% winner[:comments].each do |comment| %>
          <li><%= comment %></li>
        <% end %>

      </ul>
    </div>
  <% end %>
</div>
