<h1>View Past Winners</h1>

<% @winners.each do |winner| %>

  <ul id="winners">
     
    <li>
      <span class="month"><%= winner[:month] %></span>
      <span clas="year"><%= winner[:year] %>
      <!-- need to combine names for tie winner here. currently will break in tie month -->
      <span clas="winner"><%= Vote.find(winner[:user_id]).full_name.titleize %></span>
    </li>
  
  </ul>

<% end %>


